* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14 66 151) !important;
}

.number {
    width: 60px !important;
    height: 60px !important;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.container {
    width: 550px !important;
}

.bg_green {
    background-color: #20ab20;
}